body {
  background-color: #f6f7f8;
}

body > * {
  font-family: 'Courier New', Courier, monospace;
}

.instructions {
  max-width: 600px;
  margin: 24px auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container-card {
  padding: 96px 0;
  margin: 0 auto;
}

.card {
  width: 450px;
  background-color: white;
  padding: 9px;
  box-shadow: 9px 9px 5px rgba(0,0,0,.15);
}

.card-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  border-radius: 10%;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  text-align: left;
}

.user-name {
  font-weight: 600;
}

.user-stat-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-stat-value {
  font-weight: 600;
}